<% layout('/layouts/boilerplate.ejs') %>


  
<body>
    <h1>All  the listing</h1>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <!-- <h1>hy</h1> -->
        <% for(let i = 0;i<listings.length;i++){ %>
            <!-- <h1>hello</h1> -->
            <a href="http://localhost:5000/listing/<%= listings[i]._id %>" class="link">
                <div class="card" style="width: 18rem;">
                    <img src="<%= listings[i].image %>" class="card-img-top" alt="..." style="height: 200px;">
                    <div class="card-body">
                      <p class="card-text">
                        <%= listings[i].title %>
                        <br>
                        $<%= listings[i].price %>
                        <br>
                        <%= listings[i].description %>
                    </p>
                    </div>
                  </div>
            </a> 
          <% } %>
    </div>
    
    <!-- <form action="http://localhost:5000/listing/new" method="get">
        <button>create new</button>
    </form> -->
    <!-- <% for(let i = 0;i<listings.length;i++){ %>
        <li><a href="http://localhost:5000/listing/<%= listings[i]._id %>"><%= listings[i].title %> - <%= listings[i].location %></a> </li>
    <% } %> -->
</body>

<!-- At the bottom of body in index.ejs -->
<div id="modal-overlay" class="modal-overlay hidden">
    <div id="modal-content" class="modal-content">
        <span id="close-modal" class="close-button">&times;</span>
        //AJAX will insert the show.ejs content here
    </div>  
</div>
